
.promo-2 {
	position: relative;
}
.promo-2 .promo-wrap {
	display: block;
	padding: 16px;
}
.promo-2 .promo-wrap a {
	display: block;
	padding: 12px;
	background-color: #990;
	color: #FFF;
	margin-bottom: 6px;
	text-align: center;
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;	
}

.promo-2 .promo-wrap a:nth-child(1) {
	background-color: #dd3333;
}

.promo-2 .promo-wrap a:nth-child(2) {
	background-color: #5d5a5a;
}

.promo-2 .promo-wrap a:nth-child(3) {
	background-color: #706d97;
}


.promo-2 .promo-wrap a:nth-child(4) {
	background-color: #bd8fdb;
}


.promo-2 .promo-wrap a:nth-child(5) {
	background-color: #777777;
}

.promo-2 .promo-wrap a:hover {
	background-color: #474747;
	color: #FFFFFF;
}

.promo-2 .promo-wrap .donate {
	text-align: center;
	padding-top: 16px;
}

.promo-2 .promo-wrap .donate td {
	padding-top: 4px;
	padding-bottom: 4px;
}

.Switch.On .Toggle {
	background: #8fc400; /* Old browsers */
	background: -moz-linear-gradient(top,  #8fc400 0%, #7eaf00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#7eaf00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8fc400 0%,#7eaf00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8fc400 0%,#7eaf00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8fc400 0%,#7eaf00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8fc400 0%,#7eaf00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#7eaf00',GradientType=0 ); /* IE6-9 */
	
}

.customize-control-switch .Switch .On, 
.customize-control-toggle .Switch .On {
	color: #8fc400!important;
}


#input_blog_layout .ui-state-default img {
	border: 2px solid #e7e7e7!important;
}

#input_blog_layout .ui-state-active img,
#input_blog_layout .ui-state-hover img {
	border: 2px solid #8fc400!important;
}	  
	
.customize-control-kirki-radio-image label {
	padding-left: 6px;
	padding-right: 6px;
}

li.customize-control {
	background-color: #FFF;
	padding: 6px 6px;
}

/*
.wp-full-overlay-sidebar {
	width: 360px;
}
*/

#customize-theme-controls .accordion-section-content {
	width: calc(100% - 12px);
}



.kirki-codemirror-editor expanded {
	display: block!important;
	height: auto!important;
	width: auto!important;
}

.wp-customizer {}

#customize-control-logo-trans .container .attachment-media-view-image .thumbnail {
	background-color: #999;
}

.iexcel-promo {
	display: block;
	text-align: center;
}

.iexcel-promo a,
.iexcel-promo a:visited {
	display: block;
	background-color: #e37721;
	color: #fff;
	padding: 12px;
	margin: 0px 12px;
	font-size: 16px;
	font-weight: 700;
}

.iexcel-promo a:hover {
	background-color: #373737;
	color: #fff;
}

.iexcel-promo-2 {
	display: block;
	text-align: center;
}

.iexcel-promo-2 a,
.iexcel-promo-2 a:visited {
	display: block;
	background-color: rgb(149, 200, 55);
	color: #FFFFFF;
	padding: 6px;
	margin: 0px 12px;
	font-size: 14px;
	font-weight: 600;
}

.iexcel-promo-2 a:hover {
	background-color: #373737;
	color: #fff;
}
/* WooCommerce */
a.wc-order-item-name {
    display: none !important;
}